%p#notice= notice

%p
  %b Title:
  = @product.title
%p
  %b Description:
  = @product.description
%p
  %b Category:
  = @product.category
%p
  %b Image:
  = image_tag @product.image.thumb.url
%p
  %b Price:
  = @product.price
= link_to 'Back', products_path
-if can? :update, @product
  |
  = link_to 'Edit', edit_product_path(@product)
-if can? :add_to_cart, @product
  |
  =link_to "Add to cart", :action => :add_to_cart, :id => @product
  =link_to "Add comment", new_product_comment_path(@product)
%ul
  =render :partial => "comments/comment", :collection => @product.comments
